<p id="notice"><%= notice %></p>

<p>
  <strong>Contender:</strong>
  <%= @point.contender.user.name %>
</p>

<p>
  <strong>Challenger:</strong>
  <%= @point.challenger.user.name %>
</p>

<p>
  <strong>Contender score:</strong>
  <%= @point.contender_score %>
</p>

<p>
  <strong>Challenger score:</strong>
  <%= @point.challenger_score %>
</p>
<% if (current_user && current_user.id == @tournament.user.id) %>
  <%= link_to 'Edit', edit_point_path(@point), class: 'btn btn-primary' %> |

<% end %>
<%= link_to 'Back', match_path(id:@point.match.id), class: 'btn btn-primary' %>
