<div class='container'>
  <div class='row'>

    <div class='col-md-6'>
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Number:</strong>
        <%= @round.number %>
      </p>
      
      <p>
        <strong>Tournemant:</strong>
        <%= @round.tournemant.name %>
      </p>
      
      <%= link_to 'Edit', edit_round_path(params[:tid],params[:rid]) %> |
      <%= link_to 'Back', tournemant_path(params[:tid]) %>
    </div>

    <div class='col-md-6'>
      <%= render :partial => 'matches/index' %>
    </div>

  </div>
</div>





